<p style="color: green"><%= notice %></p>

<%= render @entry %>

<div>
  <%= link_to "Edit this entry", edit_entry_path(@entry) %> |
  <%= link_to "Back to entries", entries_path %>
  <br><br>
  <%= button_to "Destroy this entry", @entry, method: :delete %>
</div>
