<p style="color: green"><%= notice %></p>

<%= render partial: "user_manual_entry", locals: { user_manual_entry: @user_manual_entry } %>

<div>
  <%= link_to "Edit this user manual entry", edit_user_manual_heading_user_manual_entry_path(@user_manual_heading, @user_manual_entry) %> |
  <%= link_to "Back to user manual heading", user_manual_heading_path(@user_manual_heading) %>
  <br><br>
  <%= button_to "Destroy this user manual entry", user_manual_heading_user_manual_entry_path(@user_manual_heading, @user_manual_entry), method: :delete %>
</div>
