<p style="color: green"><%= notice %></p>

<% content_for :title, "Links" %>

<h1>Links</h1>

<p>
  <%= link_to "Back home", root_path %>
</p>

<div id="links">
  <% @links.each do |link| %>
    <%= render link %>
    <p>
      <%= link_to "Show this link", link %> | <%= link_to "Edit this link", edit_link_path(link) %>
    </p>
  <% end %>
</div>

<%= link_to "New link", new_link_path %>
